@model MovieWeb.Models.MovieDetailsViewModel

<strong>Title</strong>
<p>@Model.Title</p>

<strong>Description</strong>
<p>@Model.Description</p>

<strong>Genre</strong>
<p>@GetGenre(@Model.Genre)</p>

<strong>Release date</strong>
<p>@CalculateReleaseDateMessage(@Model.ReleaseDate)</p>

<strong>Studio</strong>
<p>@Model.Producer</p>

<a asp-controller="Movie" asp-action="Edit" asp-route-id="@Model.ID">Edit</a>

<a asp-controller="Movie" asp-action="Delete" asp-route-id="@Model.ID" asp-route-returnUrl="Detail">Delete</a>


@functions {
    String CalculateReleaseDateMessage(DateTime releaseDate)
    {
        if(releaseDate.Date > DateTime.Now.Date)
        {
            return (releaseDate - DateTime.Now).Days + " days until release! " + "(" + releaseDate.ToString() + ")";
        } else
        {
            return "Out Now! " + "(" + releaseDate.ToString() + ")";
        }
    }

    String GetGenre(String genre)
    {
        if (genre == null)
        {
            return "There is no genre";
        } else
        {
            return genre;
        }
    }
}