@model MovieWeb.Models.MovieDetailsViewModel

<strong>Title</strong>
<p>@Model.Title</p>

<strong>Description</strong>
<p>@Model.Description</p>

<strong>Genre</strong>
<p>@Model.Genre</p>

<strong>Release date</strong>
<p>@Model.ReleaseDate</p>

<strong>Studio</strong>
<p>@Model.Producer</p>
